.chipIcon,
.badgeCheckIcon {
    height: 50px;
    width: 50px;
}
.chipIcon {
    color: #6b6e70;
    align-self: center;
    padding-top: 50px;
}
.badgeCheckIcon {
    color: #61892f;
}
.skills {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px;
    color: #6b6e70;
    padding-top: 20px;
}
@media screen and (max-width: 1034px) {
    .badgeCheckIcon {
        display: flex;
    }
}
.text-center {
    width: 54%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #6b6e70;
}

.technologies {
    vertical-align: 80%;
}
